.theme-dark {
    /********************************************/
    /* Text related */
    /********************************************/
    /* Lavande */
    --h1-color: #5444e5;
    --h2-color: #5d5ce7;
    --h3-color: #6671e8;
    --h4-color: #7184e9;
    --h5-color: #7d96e9;
    --h6-color: #8aa8e9;
    /* Rose */
    --h1-color: #c23ba8;
    --h2-color: #cb5cb3;
    --h3-color: #d379be;
    --h4-color: #da94c9;
    --h5-color: #e0aed4;
    --h6-color: #e5c8de;
    /* Pomme */
    --h1-color: #19a50d;
    --h2-color: #4eb731;
    --h3-color: #72c84b;
    --h4-color: #92da62;
    --h5-color: #b1eb78;
    --h6-color: #d0fd8e;
    /* Pêche :3 */
    --h1-color: #cd6a49;
    --h2-color: #d7795a;
    --h3-color: #e1886b;
    --h4-color: #e7997f;
    --h5-color: #e8ab96;
    --h6-color: #e8bcae;
    /* Lavande 2 */
    --h1-color: #966ab6;
    --h2-color: #a77ebb;
    --h3-color: #b992c0;
    --h4-color: #cca5c3;
    --h5-color: #dfb9c6;
    --h6-color: #f2cdc9;
    /* Tournesol */
    --h1-color: #FDE74C;
    --h2-color: #f0dd52;
    --h3-color: #eedd5a;
    --h4-color: #e9d965;
    --h5-color: #e4d66b;
    --h6-color: #e6d977;
    --bold-color: #fdd44c;
    --italic-color: #fdb64c;
}